spring:
  cloud:
    function:
      definition: onIntegersMeasuredConsumer;onIntegersMeasuredSupplier
    stream:
      bindings:
        onIntegersMeasuredConsumer-in-0:
          destination: integer-measured
          binder: rabbit
          #binder: kafka
        onIntegersMeasuredSupplier-out-0:
          destination: integer-measured
          binder: rabbit
          #binder: kafka


logging:
  level:
    root: info
    org:
      springframework: info

